.red {
	background: red;
}

.green {
	background: green;
}

.blue {
	background: blue;
}

.big-margin-top
{
	margin-top: 20px;
}

.bigger-margin-top
{
	margin-top: 30px;
}

.biggest-margin-top
{
	margin-top: 40px;
}

.big-margin-bottom
{
	margin-bottom: 20px;
}

.bigger-margin-bottom
{
	margin-bottom: 30px;
}

.biggest-margin-bottom
{
	margin-bottom: 40px;
}

.slider-img {
	margin: 5px;
}

.slider-href {
	text-decoration: none;
}

.slider-icon {
	margin-top: 8px;
}

body {
	/* font-family: Verdana; */
}

ul {
	padding-left: 15px;
}

h4 {
	font-weight: bold;
	color: #895b46;
}